* {
  margin: 0;
  box-sizing: border-box;
  
}
/* added root for colors */
:root {

  --main: #51e2f5;
  --blue-green: #9df9ef;
  --charColor: #edf7f6;
  --pink-sand: #ffa8b6;
  --darksand: #a28089;
}

/* added unique font from Google.*/
body {
  background-color: var(--main);
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
 color: var(--charColor); 
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scores a {
  color: var(--darksand);

}

.scores a:visited {
color: var(--charColor);
}

.scores a:active {
color: var(--pink-sand);
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

p {
  padding: 20px;
  
}

button, .score-button, .first-button, .choice-button, .submit-button, .next-button, .reset-button,
.clear-button {
  background-color: var(--pink-sand);
  border-color: var(--charColor) ;
  border-radius: 25px;
  border-width: 3px;
  font-size: 25px;
  appearance: none;
  color: var(--charColor);
}

 button:hover, .score-button:hover, .first-button:hover, .choice-button:hover, .submit-button:hover, .next-button:hover, .reset-button:hover, .clear-button:hover {
  background-color: var(--pink-sand);
  color: var(--darksand);
 } 

.initials {
    background-color: var(--pink-sand);
    border-radius: 25px;
    border-color: var(--darksand);
    margin: 10px;
    padding: 10px, 5px;
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    appearance: none;
color: var(--charColor);
}